@font-face {
    font-family: 'Gilroy';
    src: url("./fonts/Gilroy-Light.otf") format("opentype");
}
@font-face {
    font-family: 'Gilroy';
    font-weight: bold;
    src: url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
}
body { 
    font-family: 'Gilroy', sans-serif; 
    margin: 0;
    background-color: #000;
    color: #000;
}
#main-page { 
    background-image: url('./img/elep.png');
    background-repeat: no-repeat, no-repeat;
    background-size: 1054px 900px;
    color: #000
}
.container {
    display: grid;
    position: relative;
    max-width: 980px;
    margin: 0 auto;
    font-size: 20px;
    /* border: 1px solid #a4a4a4;
    border-radius: 10px; */
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-top: 2em;
}

.nav-link {
    font-size: 1.1em;
    margin-left: 0.5em;
    background-color: #fc0;
    color: #000;
    border-radius: 5px;
    border: 1px solid #000;
    padding: 5px;
    text-decoration: none;
}
.nav-link:hover {
    background-color: #000;
    color: #fc0;
}

.lead-link {
    font-size: 2em;
}

h2 {
    text-align: right;
    color: #000;
    font-size: 2em;
}
.about-project {
   background-repeat: no-repeat;
   text-align: center;
   color: aliceblue;
   margin-right: 25px;
   font-size: 200%;
}

.about-slon {
color: white;
text-align: left;
font-family: 'Gilroy';
border: #fc0;
}
.content { 
    margin-bottom: 5px;
    width: 676px;
    padding: 10px;
    color: white;
    font-size: 200%;
    text-align: center;
    width: 100%;
}
.caps-background {
    background:#fc0;
    color: black;
    padding: 5px;
    font-size: 200%;
    text-align: center;
}
.caps-bckgrnd {
    background: white;
    color: black;
    padding: 1px;
    font-size: 200%;
    text-align: center;
}
.caps-bckgrnd1 {
    background:#fc0;
    color: black;
    padding: 5px;
    font-size: 200%;
    text-align: center;
}
.belyi-fon {
    background: white;
    padding: 2px;
    border: 2px solid white; 
    padding: 20px;
    background:white;
    margin-right: 2px;
    margin-bottom: 2px;
}
.jeltyi-fon {
    background:#fc0;
    color: black;
    padding: 5px;
    font-size: 200%;
    text-align: center;
}


@media (min-width: 550px) {
    .container {
        width: 80%;
    }
}

@media only screen and (max-width: 550px)
{
    .container {
        padding: 0 1em;
    }
}